@import "~Styles/colors.scss";
@import "~Styles/mixins.scss";

.authorize_info_page {
  background-color: $color-white;
  border-radius: 2px;

  &__wrapper {
    margin: 0 24px;
  }

  &__label {
    @include font-size-mixin(24px);
    font-family: Roboto-Bold, sans-serif;
    overflow-wrap: break-word;
  }
}
