@import "~Styles/mixins.scss";

.right_section {
  flex: 1;
  margin-bottom: 50px;

  @include media-mixin(
    (
      min-width: (
        md: 420px,
        500: auto,
      ),
    )
  );

  svg {
    stroke: #bbbbbb;
  }

  li {
    gap: 10px;
    margin-top: 25px;
    list-style-type: none;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      @include font-size-mixin(20px);
    }
  }

  p {
    @include font-size-mixin(20px);
  }

  .right_section__row_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 35%;
    font-weight: 600;
  }
}
