$color-yellow: #FEDC00;
$color-yellow-dark: #e3c500;
$color-black: #202020;
$color-lightDark: #333333;
$color-white: white;
$color-text-light: white;
$color-background-pressed: #F6F6F6;
$color-background-gray: #e6e6e6;
$color-gray: #4a4a4a;
$color-lightGray: gray;
$color-input-placeholder: #d1d1d1;
$color-red: #fc3c3c;
$color-light-red: #fff5f7;
$color-light-red-2: #ffccd6;
