@font-face {
  font-family: Roboto-Bold;
  src: url("../static/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url("../static/fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-Light;
  src: url("../static/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../static/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Raleway-Regular;
  src: url("../static/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: Raleway-Light;
  src: url("../static/fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: Raleway-Thin;
  src: url("../static/fonts/Raleway-Thin.ttf");
}

@font-face {
  font-family: Raleway-Medium;
  src: url("../static/fonts/Raleway-Medium.ttf");
}
