@import "~Styles/colors.scss";
@import "~Styles/mixins.scss";

.page_message {
  @include font-size-mixin(25px);
  font-family: Raleway-Thin, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;

  @include media-mixin(
    (
      min-width: (
        500: none,
      ),
    )
  );

  .message_details {
    padding-top: 20px;
    @include font-size-mixin(16px);
    letter-spacing: 3px;
    font-family: Roboto-thin, sans-serif;
  }

  .support_link {
    &:before {
      content: " ";
      display: block;
      border-top: 1px solid $color-gray;
      margin-bottom: 20px;
    }

    @include font-size-mixin(16px);

    @include media-mixin(
      (
        padding-top: (
          all: 40px,
          900: 20px,
          sm: 10px,
        ),
      )
    );

    color: $color-lightGray;
    width: 80%;
    letter-spacing: 2px;
    font-family: Roboto-Thin, sans-serif;
    line-height: 22px;

    a {
      cursor: pointer;
      color: $color-yellow-dark;
    }
  }
}
